{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.26.1",
        "targets": {
          "chrome": "49",
          "ios": "10"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
